@using Gardener.Core.Swagger.Dtos;
@inherits OperationDialogBase<int, bool, SystemAssetResource>
@{

    TableFilter<ApiHttpMethod>[] apiHttpMethodFilters = EnumHelper.EnumToList<ApiHttpMethod>().Select(x => { return new TableFilter<ApiHttpMethod>() { Text = Localizer[EnumHelper.GetEnumDescriptionOrName(x)], Value = x }; }).ToArray();
}
<Spin Spinning="_importLoading">
    <Row>
        <AntDesign.Col Span="6">
            <Select DataSource="apiInfos"
            @bind-Value="@_selectedGroupValue"
            ValueName="@nameof(SwaggerSpecificationOpenApiInfoDto.Group)"
            LabelName="@nameof(SwaggerSpecificationOpenApiInfoDto.Title)"
            DefaultActiveFirstOption
            Style="width: 100%;"
            Size="@InputSize.Large"
            OnSelectedItemChanged="OnSelectedItemChangedHandler"
            TItem="SwaggerSpecificationOpenApiInfoDto"
            TItemValue="string">
                <ItemTemplate>
                    <span>@((context as SwaggerSpecificationOpenApiInfoDto).Title)</span>
                </ItemTemplate>
            </Select>
        </AntDesign.Col>
        <AntDesign.Col Span="16">

        </AntDesign.Col>
        <AntDesign.Col Span="2">
            <Button Style="width:100%" Type="@ButtonType.Primary" Size="@ButtonSize.Large" Loading="_loading" OnClick="OnLoad">@Localizer[nameof(SharedLocalResource.Load)]</Button>
        </AntDesign.Col>

    </Row>
    <Row Style="padding-top:10px;">
        <AntDesign.Col>
            <Table DataSource="@_functionDtos"
            TItem="FunctionDto"
            PageSize="_functionDtos.Count()"
            Loading="@_loading"
            Context="model"
            Size=@TableSize.Small
            ScrollY="70Vh"
            HidePagination="true"
            Bordered="true"
            @bind-SelectedRows="@_selectedFunctionDtos"
            EnableVirtualization>
                <Selection Key="@(model.Path+"_"+model.Method)" />
                <Column @bind-Field="@model.Key" Width="150" Sortable="false" Filterable OnFilter="((value,name)=>name.Equals(value))" />
                <Column @bind-Field="@model.Tags" Width="150" Filterable />
                <Column @bind-Field="@model.Summary" Width="150" Sortable="false" Filterable />
                <Column @bind-Field="@model.Description" Width="200" Sortable="false" Filterable />
                <Column @bind-Field="@model.Path" Width="150" Sortable="false" Filterable />
                <Column @bind-Field="@model.Method" Width="100" Sortable="false" Filters="apiHttpMethodFilters">
                    <TagPro Text="@EnumHelper.GetEnumDescription(model.Method)"></TagPro>
                </Column>
            </Table>
        </AntDesign.Col>
    </Row>
</Spin>
<Row style="width:100%">
    @if (_importIsBegin)
    {
        <Progress Percent=_importPercent />
    }
</Row>
<Row>
    <AntDesign.Col Span="8" Offset="8" Style="text-align:center;">
        <Space>
            <SpaceItem>
                <Tooltip Placement="@Placement.Top" Title="@Localizer[nameof(SharedLocalResource.Import)]">
                    <Button Type="@ButtonType.Primary" OnClick="OnImportClick" Loading="_importLoading">
                        @Localizer[nameof(SharedLocalResource.Import)]
                    </Button>
                </Tooltip>
                <Button Type="@ButtonType.Default" OnClick="OnCancleClick">
                    @Localizer[nameof(SharedLocalResource.Close)]
                </Button>
            </SpaceItem>
        </Space>
    </AntDesign.Col>
</Row>